/* .slider {
  position: relative;
  width: 100%;
  height: 85vh;
  overflow: hidden;
}

.slide {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;

  opacity: 0;
  transition: opacity 1s ease-in-out;
}

.slide.active {
  opacity: 1;
} */
/* SLIDER CONTAINER */
.slider {
  position: relative;
  width: 100vw;
  height: calc(100vh - 80px); /* below navbar */
  overflow: hidden;
}

/* EACH SLIDE IMAGE */
.slide {
  position: absolute;
  inset: 0;                /* replaces top/left/right/bottom */
  width: 100%;
  height: 100%;
  object-fit: cover;       /* FULL SCREEN WITHOUT STRETCH */
  opacity: 0;
  transition: opacity 1s ease-in-out;
}

/* ACTIVE IMAGE */
.slide.active {
  opacity: 1;
  z-index: 1;
}
